# Fichiers de config sensibles
application/settings/database.php

# Dossier temporaire
temporary/

# Dossier d'installation (post-install)
install/

# Sauvegardes locales
*.zip
*.tar.gz
*.sql
temporary/
