:root {
--themewidget-radius:10px;
--harmony-header-background-color:#ffffff;
--harmony-mainmenu-background-color:#FFFFFF;
--harmony-mainmenu-links-color:#333333;
--harmony-mainmenu-links-hover-color:#000000;
--harmony-minimenu-search-background-color:#F6F6F6;
--harmony-minimenu-search-font-color:#1E293B;
--harmony-footer-background-color:#FDFDFD;
--harmony-footer-font-color:#1F1F1F;
--harmony-footer-links-color:#4f4f4f;
--harmony-footer-border-color:#FFFFFF;
--harmony-theme-color:#FF0083;
--harmony-body-background-color:#EFEDE9;
--harmony-font-color:#1E293B;
--harmony-font-color-light:#64748B;
--harmony-links-color:#ff0083;
--harmony-links-hover-color:#db0071;
--harmony-headline-color:#1E293B;
--harmony-border-color:#d5d5d5;
--harmony-box-background-color:#FFFFFF;
--harmony-box-background-color-alt:#F5F5F5;
--harmony-form-label-color:#1F1F1F;
--harmony-input-background-color:#FFFFFF;
--harmony-input-font-color:#1F1F1F;
--harmony-input-border-color:#CBD5E1;
--harmony-button-background-color:#FF0083;
--harmony-button-background-color-hover:#DB0071;
--harmony-button-font-color:#FFFFFF;
--harmony-button-font-color-hover:#FFFFFF;
--harmony-button-border-color:#FF0083;
--harmony-button-border-color-hover:#DB0071;
--harmony-secondary-button-background-color:#f2f2f2;
--harmony-secondary-button-background-color-hover:#e5e5e5;
--harmony-secondary-button-font-color:#212529;
--harmony-secondary-button-font-color-hover:#212529;
--harmony-secondary-button-border-color:#E4E6EB;
--harmony-secondary-button-border-color-hover:#d8dadf;
--harmony-comments-background-color:#FDFDFD;
--harmony-body-fontfamily:Default Font;
--harmony-heading-fontfamily:Default Font;
--harmony-mainmenu-fontfamily:Default Font;
--harmony-tab-fontfamily:Default Font;
--harmony-body-fontsize:0.85rem;
--harmony-heading-fontsize:1.1rem;
--harmony-mainmenu-fontsize:0.8rem;
--harmony-tab-fontsize:0.875rem;
}