.filter .search {
    float: none;
}
.sitetranslator_admin_order_list li.admin_table_bold {
    color: #666666;
    list-style: none;
    width: 100% !important;
    box-sizing: border-box;
    background-color: #fff;
}
.sitetranslator_admin_order_list li.admin_table_bold > .head_title {
    background-color: #e9f4fa;
    border-bottom: 1px solid #c7ebff;
    padding: 7px;
    cursor: pointer;
}
.sitetranslator_admin_order_list li.admin_table_bold > .head_title > ul {
    background-color: #f5f5f5;
    cursor: auto;
}
.sitetranslator_admin_order_list li.admin_table_bold > .head_title > div {
    color: #757575;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}
.sitetranslator_admin_order_list li.admin_table_bold > .head_title > div::before {
    content: ' ';
    background: url(~/application/modules/Sitetranslator/externals/images/expend-more.png) left center no-repeat;
    padding: 0px 10px;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    -webkit-transition: height 4s; /* For Safari 3.1 to 6.0 */
    transition: height 4s;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.phrase_count {
    width: 5.5%;
    float: left;
    visibility: hidden;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.phrase_count > em {
    visibility: hidden;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.sitetranslator_phrase {
   display: block;
    padding: 5px;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.sitetranslator_phrase > span {
    padding: 5px 10px;
    background-color: #ffffff;
    display: block;
    cursor: text;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.sitetranslator_phrase > span:first-child {
  border: 1px solid;
}
.sitetranslator_admin_order_list li.admin_table_bold > ul > li > span.sitetranslator_phrase > span:last-child {
  font-size: .8em;
  color: #aaa;
}

.sitetranslator_admin_order_list .list_head {
    background-color: #619DBE;
    border-bottom: 1px solid #AAAAAA;
    overflow: hidden;
}
.sitetranslator_admin_order_list .list_head > div {
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
}
.sitetranslator_admin_order_list ul > li {
    cursor: auto;
    overflow:hidden;
    border-bottom:1px solid #EEEEEE;
}
.sitetranslator_admin_order_list ul > li:hover {
    background-color:#f5f5f5;
}
.dark_mode .sitetranslator_admin_order_list ul > li:hover,
.dark_mode .sitetranslator_notice,
.dark_mode .admin_sitetranslator_files,
.dark_mode .admin_sitetranslator_files_wrapper,
.dark_mode .admin_sitetranslator_files > li + li {
    background-color: #505050;
    border-color: #666666;
}
.sitetranslator_admin_order_list ul > li > div {
    padding: 7px;
    float: left;
    box-sizing: border-box;
}
.sitetranslator_collapse::before {
    content: ' ';
    background: url(~/application/modules/Sitetranslator/externals/images/collapse.png) left center no-repeat;
    padding: 0px 10px;
}
.sitetranslator_collapse > div::before {
    display: none;
}
.sitetranslator_completely_missed_files {
    color: #ffffff;
    overflow: hidden;
    border: 1px solid #619DBE;
    clear: both;
}
.sitetranslator_completely_missed_files .list_head {
    background-color: #619DBE;
    border-bottom: 1px solid #AAAAAA;
    padding: 10px;
}
.sitetranslator_completely_missed_files .list_head > div {
    color: #ffffff;
    font-weight: 600;
}
.sitetranslator_completely_missed_files > ul {
    clear: both;
}
.sitetranslator_completely_missed_files > ul > li {
    width: 23%;
    float: left;
    margin: 1%;
}
.sitetranslator_completely_missed_files > ul > li.admin_table_bold > .head_title {
    background-color: #e9f4fa;
    border: 1px solid #c7ebff;
    padding: 7px;
    cursor: pointer;
}
.sitetranslator_collapse {
    background-color: #c7ebff !important;
    border: 1px solid #afdef8 !important; 
}
#filter_form .sitetranslator_class {
    margin-top:14px;
}
/*language pack creation section css start here*/
#sitetranslator_csv_files-element .form-options-wrapper, #target_language-element .form-options-wrapper {
    overflow-x: hidden !important;
    border: 1px solid #e4e4e4;
    padding: 10px;
    box-sizing: border-box;
}
ul.admin_home_dashboard_messages > li > .sitetranslator_tips > span {
    padding-left: 10px;
    background-image: none;
}

.sitetranslator_close_popup {
    background: url(~/application/modules/Sitetranslator/externals/images/closebox.png) right top no-repeat;
    padding: 15px 0px;
}
/*language pack creation section css end here*/
#sitetranslator_csv_files-element .form-options-wrapper{
    overflow: scroll;
    max-height: 300px;
    width: 300px
}
#target_language-element .form-options-wrapper{
    overflow: scroll;
    max-height: 200px;
    width: 300px
}
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: #4286f4;
}

/*ADMIN FAQ PAGES START HERE*/
.sitetranslator_faq_tabs ul li a {
    font-size:11px !important;
}
.admin_sitetranslator_files_wrapper {
 +rounded;
    background: #e9f4fa;
    padding: 10px;
}
.admin_sitetranslator_files {
 +rounded;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    overflow-y: auto;
    list-style:decimal !important;
    padding-left:10px;
}
.admin_sitetranslator_files > li {
    margin-left: 20px;
    padding: 7px 12px 7px 1px;
}
.admin_sitetranslator_files > li + li {
    border-top: 1px solid #eee;
}
.sitetranslator_faq li > div {
    clear:both;
    border-left:3px solid #ccc;
    padding:5px 5px 5px 10px;
    margin:5px;
    font-family:arial;
    line-height:18px;
}
.sitetranslator_faq li > div b {
    font-weight:bold;
}
.sitetranslator_faq li div ul li ul {
    list-style: circle;
    padding-left: 10px;
    margin-left:5px;
}
.sitetranslator_faq li div ul {
    list-style: disc;
    padding-left: 10px;
}

/*ADMIN FAQ PAGES END HERE*/

.sitetranslator_icon_add {
    background-image:url(~/application/modules/Sitetranslator/externals/images/add.png);
}
.sitetranslator_bold{
    font-weight:bold;
}

.sitetranslator_notice {
    background-color: #eff8fd;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
}
.sitetranslator_notice-icon {
    float: left;
    overflow: hidden;
}
.sitetranslator_notice-text {
    line-height: 1.3em;
    overflow: hidden;
    padding: 5px 13px;
    font-size:13px;
}
.sitetranslator_notice-text strong {
    font-weight:bold;
}
.sitetranslator_notice-text ul {
 list-style: disc outside none;
    margin: 3px 0 0 18px;
}
.sitetranslator_notice-text ul li{
    margin: 2px 0 2px 0px;
}

/*ADMIN SETTING FORM CSS START HERE*/
.sitetranslator_settings_form {
    clear:both;
}
.sitetranslator_settings_form .settings form {
    float: none !important;
    width:auto !important;
}
.sitetranslator_settings_form .settings .form-description {
    max-width: none !important;
    width:auto !important;
}
.sitetranslator_settings_form .settings .form-element, .sitetranslator_settings_form .settings .form-element .description {
    max-width: 680px !important;
}
.sitetranslator_settings_form .settings .form-element .description > a {
    cursor: pointer;
}
/*ADMIN SETTING FORM CSS END HERE*/